# Prerequisites
# VS 2022 (Build Tools)
# CMake (automatically handled if not found, but recommended to install)
# PowerShell

# Build
/build/
/out/
Ray

# CMake
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.suo
*.db
*.ipch
*.opendb

# Compiled binaries
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
